.month-box {
  padding: 0.5rem 1rem;
  background: rgba(0, 0, 0, 0.5); /* Semi-transparent background */
  color: white;
  border-radius: 1px 5px;

  text-align: center;
  font-size: 1.2rem;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3); /* Subtle shadow for depth */
}

.dates-container {
  display: flex;
  gap: 0.2rem;
}

.date-button {
  background: rgba(53, 53, 53, 0.2);
  border-radius: 5px;
  color: white;
  padding: 0.5rem 1rem;
  backdrop-filter: blur(10px); /* Glassy effect */
}

.date-button.selected {
  background: rgba(255, 255, 255, 0.2); /* Slightly transparent background */
  border-color: rgba(145, 145, 145, 1); /* Border color for selected state */
}

.divider-bar {
  height: 2.5rem; /* Adjust height to match button size */
  width: 2px; /* Thickness of the divider */
  background-color: #ff5722; /* Red color for the divider */
}
