.loading-animation {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  box-shadow: 0 4px 8px rgba(133, 133, 133, 0.1);
  background: rgba(97, 97, 97, 0.5);
  backdrop-filter: blur(10px);
  color: aliceblue;
  position: fixed;
  z-index: 999;
  width: 100vw;
}

.loading-spinner {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.loading-spinner p {
  margin-top: 20px;
  font-size: 18px;
  color: #cacaca;
  animation: fadeInOut 2s infinite;
}

@keyframes fadeInOut {
  0% {
    opacity: 0;
  }
  50% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}
